<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.remainsoftware.e4.model.importer.modelimport">
      <model
            elementId="samplepart2"
            fragment="true"
            modelURI="fragment.e4xmi"
            referenceId="com.remainsoftware.e3app.view"
            relationship="second">
      </model>
   </extension>

</plugin>
