<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="id1"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="com.remainsoftware.e4.model.importer.modelimport">
      <model
            elementId="samplepart2"
            modelURI="fragment.e4xmi"
            referenceId="com.remainsoftware.e3app.view"
            relationship="second">
      </model>
   </extension>

</plugin>
