<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.remainsoftware.e3app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="com.remainsoftware.e3app.Perspective"
            id="com.remainsoftware.e3app.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="com.remainsoftware.e3app.View"
            id="com.remainsoftware.e3app.view">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="com.remainsoftware.e3app.view">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   
     <extension
         point="com.remainsoftware.e4.model.importer.modelimport">
      <model
            modelURI="platform:/plugin/com.remainsoftware.e4app/Application.e4xmi"
            modelId="partstack"
            referenceId="com.remainsoftware.e3app.view"
            relationship="third">
      </model>
   </extension>

</plugin>
